<div class="nav">
    <div class="nav2">
        <div class="fendo">
            HOUSIX
        </div>
        <div class="search">
         <a  routerLink="/home">HOME</a>
        </div>
        <div class="search">
            <a routerLink="/about">ABOUT</a>
         </div>
         <div class="search">
            <a routerLink="/about">Gallery</a>
         </div>
         <div class="search">
            <a routerLink="/project">PROJECTS</a>
         </div>
         <div class="search">
            <a routerLink="/about">BLOGS</a>
         </div>
        
    </div>
</div>