.nav{
    width: 100%;
    
}
.nav2{
    width: 99%;
    display: flex;
  
}
.fendo{
    width: 90%;
    font-weight: 600;
    color: white;
    font-size: 30PX;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search{
    width: 20%;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    
}