.pagefull{
    width: 100%;
    display: flex;
    }
    .page1{
        width: 60%;
        background-color: rgba(202, 173, 173, 0.808);
        height: 910px;
    }
    .upper{
        width: 110%;
        position: relative;
        height: 880px;
        left: 30px;
        background-color: white;
        z-index: 1;
        top: 30px;
        box-shadow: 0px 0px 5px -1px #7d6f6d;
    }
    .half{
        width: 100%;
        height: 400px;
        background-color: #351D13;
    }
    .page2{
        width: 40%;
        background-color: white;
        height: 620px;
    }
    .plan{
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
    }
    .room{
        text-align: center;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 450;
    }
    .have{
        text-align: center;
        margin-top: 10px;
        font-family: emoji;
    }
    .roomimg{
        width: 100%;
        height: 250px;
    }
    .bedroom{
        width: 54%;
        height: 200px;
        position: relative;
        left: 100px;
        top: 20px;
    }
    .fle{
        width: 100%;
    }
    .file1{
        width: 100%;
        margin-top: 10px;
    }
    .file2{
        display: flex;
        width: 85%;
    }
    .procat{
        position: relative;
        width: 40%;
        
        margin-left: 10px;
        left: 50px;
        
    }
    .buy{
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
    .butt2{
        text-align: center;
        margin-top: 30px;
    }
    .footer{
        width: 100%;
        margin-top: 30px;
        background-color: antiquewhite;
    }
    .footer2{
        width: 85%;
        display: flex;
        margin-left: 40px;
       
    }
    .comp{
        width: 50%;
        height: 200px;
       
    }
    .address{
        width: 50%;
        height: 200px;
       
    }
    .rant{
        margin-left: 70px;
        padding-top: 10px;
    }
    .nav{
        width: 100%;
       
    }
    .nav2{
        width: 95%;
        display: flex;
        
    }
    .fendo{
        width: 80%;
        font-weight: 600;
        color: white;
        margin-top: 20px;
        padding-left: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .search{
        width: 20%;
        font-weight: 600;
        color: white;
        margin-top: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .house{
        width: 50%;
        height: 100px;
    }
    .housetext{
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        color: white;
        line-height: 1;
        position: relative;
        left: 60px;
        top: 90px;
    }
    .prat{
        margin-top: 100px;
        color: white;
        margin-left: 59px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .book{
        width: 60%;
        margin-top: 170px;
    }
    .book2{
        width: 50%;
        display: flex;
        margin-left: 50px;
    }
    .bookhouse{
        color: white;
        background-color: orange;
        margin-left: 10px;
        padding: 7px;
        border-radius: 30px;
    }
    .exp{
        color: white;
        border: 1px solid white;
        margin-left: 10px;
        padding: 7px;
        border-radius: 30px; 
    }
    .houimg{
        position: relative;
        left: 407px;
        bottom: 229px;
    }
    .offering{
        width: 100%;
        position: absolute;
    }
    .offin{
        width: 97%;
        display: flex;
        position: relative;
        bottom: 180px;
        left: 78px;
    }
    .box1{
        width: 20%;
        height: 80px;
        font-size: 27px;
        font-style: italic;
    }
    .box3:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .box2{
        width: 20%;
    }
    .box3{
        width: 20%;
        box-shadow: 0px 0px 5px -1px #7d6f6d;
        height: 120px;
        background-color: #9c9e9e;
        
    }
    .box4{
        width: 20%;
        box-shadow: 0px 0px 5px -1px #7d6f6d;
        height: 120px;
        margin-left: 30px;
    }
    .box4:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .offering1{
        width: 100%;
        position: absolute;
    }
    .offin1{
        width: 97%;
        display: flex;
        position: relative;
        bottom: -10px;
        left: 78px;
    }
    .box11{
        width: 16%;
        height: 80px;
    }
    .box21{
        width: 20%;
        box-shadow: 0px 0px 5px -1px #9c9e9e;
        height: 120px;
        margin-right: 30px;
        background-color: #9c9e9e;
    }
    .box21:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .box31{
        width: 20%;
        box-shadow: 0px 0px 5px -1px #7d6f6d;
        height: 120px;
    }
    .box31:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .box41{
        width: 20%;
        box-shadow: 0px 0px 5px -1px #7d6f6d;
        height: 120px;
        margin-left: 30px;
        background-color: #9c9e9e;
    }
    .box41:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .gym{
        position: relative;
        text-align: center;
        top: 49px;
        font-size: 20px;
        font-family: emoji;
    }
    .buy{
        margin-left: 30px;
    }
    .bookhouse:hover{
       
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .exp:hover{
        transform: translateY(-3px);
    }
    button:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); 
    }
    .bookhouse:active{
        color: red;
    }
    .pro{
        font-size: 15px;
        font-weight: 500;
    }