<div class="backg">
    <app-nav></app-nav>
    <div class="title">I’m focus on creative work and shared<br> knowledge</div>
    <div class="exp">
        <div class="exp2">EXPLORE IT</div>
    </div>
</div>
<div class="hub">Why Choose Housix ?</div>
<div class="metting">
    <div class="mitting2">
        <div class="mitt3">
            <div class="online">
                <img src="assets\image\3d.png" alt="" style="height: 250px;">
                <div class="con">Contactless Experience</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\metting.png" alt="" style="height: 250px;">
                <div class="con">Online Meeting</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\3d.png" alt="" style="height: 250px;">
                <div class="con">Live 3D Designs</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\p.png" alt="" style="height: 250px;">
                <div class="con">Instant Pricing</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best">
    <div class="bestcom">
        <div class="im8">
            <img src="assets\image\a.png" alt="" style="height: 450px;"> 
        </div>
        <div class="text8">
            <div class="bd">
                Best Interior Designing <br>Company!
            </div>
            <div class="follo">
                We're following all protocols to ensure your safety and vaccination drives are <br>underway to ensure our employees are ready to meet you safely.
            </div>
            <div class="follo">
                <div class="follo">
                    No more dreaming about your interiors. Livspace Vesta brings together<br>
                    award-winning designers, service partners and brands, to help you take your <br>
                    home interiors from dream to reality.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best1">
    <div class="bestcom1">
        <div class="text81">
            <div class="bd1">
                Make with love<br>
                all what we do.
            </div>
            <div class="follo1">
                We're following all protocols to ensure your safety and vaccination drives are <br>underway to ensure our employees are ready to meet you safely.
            </div>
            <div class="follo1">
                <div class="follo1">
                    No more dreaming about your interiors. Livspace Vesta brings together<br>
                    award-winning designers, service partners and brands, to help you take your <br>
                    home interiors from dream to reality.
                </div>
            </div>
        </div>
        <div class="im8">
            <img src="assets\image\t.png" alt="" style="height: 450px;"> 
        </div>
    </div>
</div>
<div class="best">
    <div class="bestcom">
        <div class="im8">
            <img src="assets\image\exp1.png" alt="" style="height: 275px;margin-top: 63px;"> 
        </div>
        <div class="text8">
            <div class="bd">
                See. Touch. Experience.
            </div>
            <div class="follo">
                We're following all protocols to ensure your safety and vaccination drives are <br>underway to ensure our employees are ready to meet you safely.
            </div>
            <div class="follo">
                <div class="follo">
                    No more dreaming about your interiors. Livspace Vesta brings together<br>
                    award-winning designers, service partners and brands, to help you take your <br>
                    home interiors from dream to reality.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hub">Our promise</div>
<div class="metting">
    <div class="mitting2">
        <div class="mitt3">
            <div class="online">
                <img src="assets\image\dd.png" alt="" style="height: 250px;">
                <div class="con">Up to 10-year warranty</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\hh.png" alt="" style="height: 250px;">
                <div class="con">45-day delivery</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\hz.png" alt="" style="height: 250px;">
                <div class="con">5000+ expert</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
            <div class="online">
                <img src="assets\image\hw.png" alt="" style="height: 250px;">
                <div class="con">Installation service</div>
                <div class="pra">
                    No stepping out. Design your home<br> interiors from the safety and comfort of<br> your home.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service">Customized Service</div>
<div class="serpra">
    can't find that you are looking for? we will design your<br>
    home the way you like, keeping you needs and<br>
    budged in mind
</div>
<div class="befor">
    <div class="after">
        <img src="assets\image\ba.png" alt="" style="height: 600px;">
    </div>
</div>
<div class="buttn">
    <div class="butt">
        <button type="submit">BOOK THE APPORANT</button>
    </div>
</div>
<div class="ourfac">
    <div class="service">Our's Facility</div>
    <div class="ourtext">
        check out how your dream home can look like.<br>
        get inspiration from Livspace's vast design.
    </div>
   <div class="card5">
        <div class="card6">
            <div class="card">
                <img src="assets\image\Bedroom.jpeg" alt="" style="height: 198px;">
                <div class="container">
                <h4><b>Bedroom</b></h4> 
                <p>Architect & Engineer</p> 
                </div>
            </div>
            <div class="card">
                <img src="assets\image\hallinterior.jpg" alt="" style="height: 178px;">
                <div class="container">
                <h4><b>hallinterior</b></h4> 
                <p>Architect & Engineer</p> 
                </div>
            </div>
            <div class="card">
                <img src="assets\image\livingRoom.jpg" alt="" style="height: 197px;">
                <div class="container">
                <h4><b>livingRoom</b></h4> 
                <p>Architect & Engineer</p> 
                </div>
            </div>
        </div>
   </div>
   <div class="card5">
    <div class="card6">
        <div class="card">
            <img src="assets\image\kitchen.jpg" alt="" style="height: 177px;">
            <div class="container">
            <h4><b>kitchen</b></h4> 
            <p>Architect & Engineer</p> 
            </div>
        </div>
        <div class="card">
            <img src="assets\image\livingRoom.jpg" alt="" style="height: 197px;">
            <div class="container">
            <h4><b>livingRoom</b></h4> 
            <p>Architect & Engineer</p> 
            </div>
        </div>
        <div class="card">
            <img src="assets\image\wardrobe.png" alt="" style="height: 181px;">
            <div class="container">
            <h4><b>wardrobe</b></h4> 
            <p>Architect & Engineer</p> 
            </div>
        </div>
    </div>
</div>
</div>
<div class="service">Our's Designing Packages</div>
 <div class="ourtext">
        Pick From One Of Our Three Online Designing Packages, Custom Made Keeping<br>
        Your Budget, Style and Design Needs in Mind
 </div>
<div class="price">
    <div class="basic">
        <div class="prime">
            <div class="gold">
                <h3 style="text-align: center;">Delight</h3>
                <div class="pr">To Get You Started</div>
                <div class="orp">Original Price ₹50.00</div>
                <div class="deal">Deal Price ₹49.00</div>
                <div class="sav">You Save ₹10.00(17%)</div>
                <div class="seld">select design</div>
                <div class="con1">1 Design Concept</div>
                <div class="con1">2 Deign Revision </div>
                <div class="con1">12 Days To Design delivery</div>
                <div class="con1">3D Model Of Your Furniture</div>
                <div class="con1">Work 1:1 With A Design Expert</div>
                <div class="con1">View Your Design In 3D</div>
                <div class="con1">Ultra Rear 3D Render</div>
                <div class="con1">Customized Shopping List</div>
                <div class="con1">Windwo Treatment</div>
                <div class="con1">Paint Recomendation</div>
                <div class="con1">Live Design Revision</div>
            </div>
            <div class="gold" style="background-color: rgb(255, 145, 0);">
                <h3 style="text-align: center;">Bliss</h3>
                <div class="pr">To Get You Started</div>
                <div class="orp">Original Price ₹50.00</div>
                <div class="deal">Deal Price ₹49.00</div>
                <div class="sav">You Save ₹10.00(17%)</div>
                <div class="seld">select design</div>
                <div class="con1">1 Design Concept</div>
                <div class="con1">2 Deign Revision </div>
                <div class="con1">12 Days To Design delivery</div>
                <div class="con1">3D Model Of Your Furniture</div>
                <div class="con1">Work 1:1 With A Design Expert</div>
                <div class="con1">View Your Design In 3D</div>
                <div class="con1">Ultra Rear 3D Render</div>
                <div class="con1">Customized Shopping List</div>
                <div class="con1">Windwo Treatment</div>
                <div class="con1">Paint Recomendation</div>
                <div class="con1">Live Design Revision</div>
            </div>
            <div class="gold">
                <h3 style="text-align: center;">Euphoria</h3>
                <div class="pr">To Get You Started</div>
                <div class="orp">Original Price ₹50.00</div>
                <div class="deal">Deal Price ₹49.00</div>
                <div class="sav">You Save ₹10.00(17%)</div>
                <div class="seld">select design</div>
                <div class="con1">1 Design Concept</div>
                <div class="con1">2 Deign Revision </div>
                <div class="con1">12 Days To Design delivery</div>
                <div class="con1">3D Model Of Your Furniture</div>
                <div class="con1">Work 1:1 With A Design Expert</div>
                <div class="con1">View Your Design In 3D</div>
                <div class="con1">Ultra Rear 3D Render</div>
                <div class="con1">Customized Shopping List</div>
                <div class="con1">Windwo Treatment</div>
                <div class="con1">Paint Recomendation</div>
                <div class="con1">Live Design Revision</div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="best">
    <div class="bestcom">
        <div class="im8">
            <img src="assets\image\deal.png" alt="" style="height: 275px;margin-top: 63px;"> 
        </div>
        <div class="text8">
            <div class="bd">
                WE MAKE<br>Our Customer<br>Happy
            </div>
            <div class="follo">
                We're following all protocols to ensure your safety and vaccination drives are <br>underway to ensure our employees are ready to meet you safely.
            </div>
            <div class="follo">
                <div class="follo">
                    No more dreaming about your interiors. Livspace Vesta brings together<br>
                    award-winning designers, service partners and brands, to help you take your <br>
                    home interiors from dream to reality.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service">Contect us</div>
<div class="footer">
    <div class="footer2">
        <div class="footerpat1">
            <div class="shere">
                The company principle of Architecture-Studio is the collective<br>
                 conception. From the very beginning, the practice has believed <br>
                 in the virtues of exchange, crossing ideas, common effort,<br>
                 shared knowledge and enthusiasm.
            </div>
        </div>
        <div class="footerpart2">
            <div class="addre">
               8227831322<br>
               Bihar<br>
               Muzaffarpur
            </div>
        </div>
    </div>
    <div class="line">
        <div class="line2"></div>
    </div>
</div>
