<div class="pagefull">
    <div class="page1">
        <div class="upper">
            <div class="half">
                <app-nav></app-nav>
                <div class="house">
                    <div class="housetext">
                        We || build<br>house of your<br>Dream
                    </div>
                    <p class="prat"> We have 50000+ Review and Our 
                        customer <br>true on our quielty product</p>
                </div>
                <div class="book">
                    <div class="book2">
                        <div class="bookhouse">Buy Now</div>
                        <div class="exp">Explore</div>
                    </div>
                </div>
                <div class="houimg">
                    <img src="assets\image\hou.png" alt="" style="height: 371px;">
                </div>
                <div class="offering">
                    <div class="offin">
                        <div class="box1">What are we <br>offering
                          <p class="pro">50000+ Property</p>
                        </div>
                        <div class="box2"></div>
                        <div class="box3">
                            <div class="gym">Gym</div>
                        </div>
                        <div class="box4">
                            <div class="gym">Parkking</div>
                        </div>
                    </div>
                </div>
                <div class="offering1">
                    <div class="offin1">
                        <div class="box11"></div>
                        <div class="box21">
                            <div class="gym">Swamming pool</div> 
                        </div>
                        <div class="box31">
                            <div class="gym">Internet</div>
                        </div>
                        <div class="box41">
                            <div class="gym">Firespace</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="plan">Plan and demension</div>
        <div class="room">Room Gallery</div>
        <div class="have">
            We have 50000+ Review and Our <br>
            customer true on our quielty product<br>
            and true in our product if you order<br>More than
        </div>
        <div class="roomimg">
            <div class="bedroom">
                <img src="assets\image\room2.png" alt="" style="height: 222px;position: relative;right: 20px;">
            </div>
        </div>
        <div class="fle">
           <div class="file1">
            <div class="file2">
                <div class="procat">
                    
                </div>
                <div class="procat">
                    <img src="assets\image\room3.png" alt="" style="height: 138px;position: relative;right: 7px;top: 9px;">
                </div>
                <div class="procat">
                    <img src="assets\image\room3.png" alt="" style="height: 138px;position: relative;right: 7px;top: 9px;">
                </div>
            </div>
           </div>
        </div>
        <div class="buy">
            Interesting to buy property
        </div>
        <div class="butt2">
            <button style="height:40px;width:100px;background-color: black;color: white;">Get in touch</button>
        </div>
        <div class="footer">
            <div class="footer2">
                <div class="comp">
                    <h3 style="text-align: center;">our company</h3>
                    <div class="rant">ratting</div>
                    <div class="rant">Internet</div>
                    <div class="rant">manegment</div>
                    <div class="rant">ratting</div>
                </div>
                <div class="address">
                    <h3 style="text-align: center;">our address</h3>
                    <div class="rant">ratting</div>
                    <div class="rant">Delhi</div>
                    <div class="rant">ratting</div>
                    <div class="rant">Sector45</div>
                </div>
            </div>
        </div>
    </div>
  </div>
